DJANGO_SECRET_KEY=unsafe-dev-key-change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0
DJANGO_TIME_ZONE=Europe/Moscow
DJANGO_BOOTSTRAP_DEV_AUTH=true

POSTGRES_DB=web_gis
POSTGRES_USER=web_gis
POSTGRES_PASSWORD=web_gis
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

DJANGO_CORS_ALLOWED_ORIGINS=http://127.0.0.1:5173,http://localhost:5173
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:5173,http://localhost:5173

DJANGO_SESSION_COOKIE_SAMESITE=Lax
DJANGO_SESSION_COOKIE_SECURE=false
DJANGO_CSRF_COOKIE_SAMESITE=Lax
DJANGO_CSRF_COOKIE_SECURE=false
